* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main,
.inputWrapper,
.inputField,
.taskListWrapper,
.taskListItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: rgb(227, 227, 227);
}
.inputWrapper {
  height: 80px;
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
  background-color: white;
}
.inputField {
  height: 80%;
  width: 92%;
  padding: 0 10px;
  background-color: rgb(241, 241, 241);
}
.taskInput {
  height: 50%;
  width: 82%;
  margin: 0 1%;
  background-color: transparent;
  border: solid 1px black;
}
.AddTaskButton {
  height: 80%;
  width: 13%;
  margin: 0 1%;
  background-color: #e95678;
  color: white;
  border: none;
  border-radius: 8px;
}
.taskListWrapper {
  flex-direction: column;
  height: fit-content;
  width: 80%;
  max-width: 500px;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
}
.taskListItem {
  width: 90%;
  border-bottom: solid 1px rgb(193, 193, 193);
}
input[type="checkbox"] {
  opacity: 0;
  margin: 20px 5px;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #00646e;
  line-height: 25px;
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  outline: 2px solid #44d7e4;
  background: white;
}
input[type="checkbox"]:checked + label::before {
  content: "";
  text-decoration: line-through;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  outline: none;
  background-image: url(../resourses/images/checkimage.jpg);
  background-size: contain;
}
.deleteButton {
  height: 50px;
  width: 150px;
  margin: 30px;
  background-color: #24b0bc;
  border-radius: 8px;
  color: white;
  border: none;
}
